@import "@/node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
@import "@/node_modules/swiper/swiper.min.css";
@import "@/node_modules/swiper/modules/autoplay.min.css";
/* import "swiper/css";
import "swiper/css/autoplay"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .orange-red-gradient {
    @apply bg-gradient-to-r from-[#FFB535] to-[#F2295B];
  }
  .green-blue-gradient {
    @apply bg-gradient-to-r from-[#30C5E4] to-[#28E55D];
  }
  .pink-purple-gradient {
    @apply bg-gradient-to-r from-[#FF3571] to-[#880175];
  }
  .blue-purple-gradient {
    @apply bg-gradient-to-r from-[#2E9EFF] to-[#9C33F7];
  }
  .flexRow {
    @apply flex items-center justify-between;
  }
  .flexCol {
    @apply flex flex-col items-center justify-between;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexRowStart {
    @apply flex items-center justify-start;
  }
  .flexRowEnd {
    @apply flex items-center justify-end;
  }
  .overlay {
    @apply absolute inset-0 bg-black/40;
  }
  .gridCols1 {
    @apply grid grid-cols-1 place-items-center;
  }
  .swiperArrow {
    @apply flexCenter h-[60px] w-[60px] cursor-pointer rounded-full border-[1px] border-lightGreen bg-transparent text-lightGreen transition-colors hover:bg-lightGreen hover:text-white;
  }
  .checkbox-wrapper-2 .ikxBAC {
    @apply relative m-0 h-[22px] w-[45px] flex-shrink-0 appearance-none rounded-[72px] border-none bg-[#dfe1e4] dark:bg-lightGray;
  }
  .checkbox-wrapper-2 .ikxBAC::before {
    content: "";
    @apply absolute -bottom-[6px] -left-[6px] -right-[6px] -top-[6px];
  }
  .checkbox-wrapper-2 .ikxBAC,
  .checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
  }
  .checkbox-wrapper-2 .ikxBAC::after {
    content: "";
    @apply absolute left-[3px] top-[3px] h-[16px] w-[14px] rounded-[50%] bg-[#fff] dark:bg-cardDark;
  }

  .checkbox-wrapper-2 input[type="checkbox"] {
    @apply cursor-default;
  }

  .checkbox-wrapper-2 .ikxBAC:hover {
    transition-duration: 0s;
    @apply bg-[#c9cbcd];
  }

  .checkbox-wrapper-2 .ikxBAC:checked {
    @apply bg-lightBlue;
  }

  .checkbox-wrapper-2 .ikxBAC:checked::after {
    @apply left-[27px] bg-[#fff] dark:bg-cardDark;
  }

  .checkbox-wrapper-2 :focus:not(.focus-visible) {
    @apply outline-[0];
  }

  .checkbox-wrapper-2 .ikxBAC:checked:hover {
    @apply bg-lightBlue;
  }
  .sort-active {
    @apply border-y-2 border-y-lightBlue text-lightBlue dark:text-lightBlue;
  }
  .dropdown-trigger {
    transition:
      transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
  .dropdown-menu-content {
    transition:
      opacity 0.2s ease-in-out,
      transform 0.2s ease-in-out;
    @apply mt-[15px] opacity-0;
  }

  .dropdown-menu-content[data-state="open"] {
    @apply translate-y-0 opacity-[1];
  }

  .dropdown-menu-content[data-state="closed"] {
    @apply -translate-y-[10px];
  }

  html {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  html::-webkit-scrollbar {
    @apply hidden;
  }

  html {
    @apply bg-[#f9fafc];
  }

  html.dark {
    @apply bg-[#1a1a1a];
  }
  body {
    @apply font-[dana];
  }
  .breadcrumb {
    @apply h-[50px] min-w-[60px] bg-white;
  }
  .first {
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  }
  .mid {
    clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
  .scroll-hidden::-webkit-scrollbar {
    @apply w-0 bg-transparent;
  }
  .left-chevron {
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
  }
  .right-chevron {
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
  }
  #avatar {
    background-image: url("/images/mehrshad-barati.png");
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
  }
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 10;
  src:
    url("../public/fonts/woff2/Dana-Hairline.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/woff/Dana-Hairline.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 100;
  src:
    url("../public/fonts/woff2/Dana-Thin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Dana-Thin.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src:
    url("../public/fonts/woff2/Dana-UltraLight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/woff/Dana-UltraLight.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src:
    url("../public/fonts/woff2/Dana-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Dana-Light.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src:
    url("../public/fonts/woff2/Dana-Medium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Dana-Medium.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src:
    url("../public/fonts/woff2/Dana-DemiBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/woff/Dana-DemiBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src:
    url("../public/fonts/woff2/Dana-ExtraBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/woff/Dana-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src:
    url("../public/fonts/woff2/Dana-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Dana-Black.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src:
    url("../public/fonts/woff2/Dana-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Dana-Bold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src:
    url("../public/fonts/woff2/Dana-Regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Dana-Regular.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
